#Project Directory
/packages
/Gallery/bin
/Gallery/obj
/Gallery.BLL/obj
/Gallery.BLL/bin
/Gallery.DAL/obj
/Gallery.DAL/bin
/Gallery.FileStorage/bin
/Gallery.FileStorage/obj

#Idea Folders
/.vs
/.idea

#Project Files
*jpg
*png
*user