@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
    This is new site. 
        <p>Now he include: <ol><li>Business Layer</li><li>Data Access Layer</li><li>Presentation Layer</li></ol></p> 
        <p><code>all code from the last project has been moved</code></p>
    </div>
    <footer>27.02.2020 - date to create the first version of a new project</footer>
</body>
</html>
