@{
    ViewBag.Title = "Информация";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        Update project.
        <p>Innovations: 
        <ol>
            <li>Script folder</li>
            <li>Content folder and css file</li>
            <li>New Config class</li>
            <li>Home Controller update</li>
            <li>Site style added</li>
        </ol>
        </p>
    </div>
    <footer>28.02.2020 - project update time
            <p>in future: update index, include logic from old project to Views in new project</p>
    </footer>
</body>
</html>
