<audio autoplay loop src="/Resource/audio.mp3">
    Your browser does not support the
    <code>audio</code> element.
</audio>
<h1 style="color: red; text-align: center; font-size:70px">Test Page</h1>
<div style="text-align: right">
    <button class="btn-success" onclick="window.open('https://www.youtube.com/watch?v=OIeXgNeB7kA','_blank')">Music link</button>
</div>
<div id="open_here">
    <button class="btn-info" onclick="$('audio').removeAttr('loop');">Pause music</button>
    <button id="submit" class="btn-lg" onclick="del()">testing reg</button>
</div>